<div class="mx-4">
  <div class="mb-3">
      <label for="" class="form-label">Nombre proyecto</label>
      <input type="text" class="form-control" [(ngModel)]="inputNombre" placeholder="Introduce el nombre del proyecto">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Presupuesto</label>
      <input type="text" class="form-control" [(ngModel)]="inputPresupuesto" placeholder="0">
    </div>
    <button type="submit" class="btn btn-primary" (click)="agregar()">Añadir</button>
</div>
    